* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth
}

@import "partials/colors";
@import "partials/header";
@import "partials/layout";

body {
    min-height: 100dvh;
    background-color: #faedcd;
    font-family: "Poppins";
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

svg {
    width: 100%;
}